!!!
%html
  %head
    %title Hipster Score
    =stylesheet_link_tag "application"
    =controller_stylesheet_link_tag
    =javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = render "shared/header"
    %p.notice= notice
    %p.alert= alert
    - if current_user
      %div{:style => "float:right;"}
        %p= current_user.name
        %a{:href => "/signout"} Signout
    .container
      = yield